.mainContainer {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.backgroundImg {
  width: 100vw;
  height: 100vh;
}

.backgroundBlur {
  position: absolute;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background-color: black;
}