.slideContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 230px;
    top: 50vh;
    left: 20vw;
    color: white;
}

.slideHeader {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 180px;
}

.title {
    width: 400px;
    height: 60px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 46.87px;
}

.text {
    width: 400px;
    height: 85px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.16px;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 2px;
    left: 0;
    bottom: 0;
}

.controller {
    width: 42px;
    height: 3px;
    background-color: #9E9E9E;
    border: 1px solid #9E9E9E;
}

.controllerActive {
    width: 55px;
    height: 2px;
    background-color: white;
    border: 3px solid white;
}

